<h1>Find Voting Information</h1>

<form id="voter_search_form"  action="/locations/voting_info.xml" method="post" format="xml">

  House Number: <input id="street_number" name="street_number" type="text" /><br /><br />
  Street Direction: <input id="pre_direction" name="pre_direction" type="text" /><br /><br />
  Street Name: <input id="street_name" name="street_name" type="text" /><br /><br />
  City: <input id="city" name="city" type="text" /><br /><br />
  Zip: <input id="zip" name="zip" type="text" /><br /><br />

  <input type="submit" value="Get XML"/>

</form>
